[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Name[de]=Chromium-Webbrowser
Name[es]=Navegador web Chromium
Name[zh_TW]=Chromium 網頁瀏覽器
GenericName=Web Browser
GenericName[de]=Webbrowser
GenericName[fr]=Navigateur Web
GenericName[zh_CN]=网页浏览器
Comment=Access the Internet
Comment[ar]=الدخول إلى الإنترنت
Comment[en_GB]=Access the Internet
Comment[zh_TW]=連線到網際網路
MimeType=text/html;text/xml;
Keywords=browser;internet;web;
Keywords[fr]=navigateur;surfer;
